In [3]:
import numpy as np

In [5]:
a = np.array([24,35,18,40])
a

array([24, 35, 18, 40])

In [9]:
age = (24 , 35 , 28 ,40)
age

(24, 35, 28, 40)

In [13]:
b = np.array(age)
b

array([24, 35, 28, 40])

In [15]:
b.ndim #บอก dimension ว่ากี่มิติ

1

In [16]:
b.shape #สมาชิกกี่ตัว

(4,)

In [17]:
drink=np.array(['mocha','water','latte','espresso','coke'])
drink

array(['mocha', 'water', 'latte', 'espresso', 'coke'], dtype='<U8')

In [18]:
m = ['water',20,'coffe',50]
m

['water', 20, 'coffe', 50]

In [20]:
m2 = np.array(['water',20,'coffe',50])
m2

array(['water', '20', 'coffe', '50'], dtype='<U21')

In [22]:
hw = np.array([[170,176,159],[70,48,50]])
hw

array([[170, 176, 159],
       [ 70,  48,  50]])

In [23]:
hw.shape

(2, 3)

In [24]:
hw.ndim

2

In [25]:
hw.size

6

In [27]:
z = np.zeros((4,2))
z

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [28]:
x = np.ones((5 , 3))
x

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [30]:
k = np.zeros((4,3))
k

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [32]:
k[:] = 9
k

array([[9., 9., 9.],
       [9., 9., 9.],
       [9., 9., 9.],
       [9., 9., 9.]])

In [34]:
e = np.identity(4)
e

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [35]:
f = np.arange(1,11)
f

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [36]:
f2 =np.arange(1,51)
f2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [38]:
f3 = np.reshape(f2,(10,5))
f3

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50]])